/*--FOOTER--*/
.footer {
	max-width: 100%;
	height: 250px;
	background-color: #111111;
	margin: 30px auto;
}

.footer h2 {
	color: white;
	font-style: italic;
}

.footer a {
	color: white;
}

.services {
	margin-top: 20px;
	text-align: center;
	width: 300px;
	height: 100px;
	margin-left: 20px;
	float: left;
	text-align: center;
}

.more {
	margin-top: 20px;
	text-align: center;
	width: 300px;
	float: left;
}

.photos {
	margin-top: 20px;
	text-align: center;
	width: 300px;
	float: left;
}

.contact {
	margin-top: 20px;
	text-align: center;
	width: 300px;
	float: left;
}

.social-media  li {
	margin-top: 40px;
	margin-left: 40px;
	list-style: none;
	float: left;
}

.social-media a {
	color: white;
	line-height: 50px;
	font-size: 40px;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}